{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Store on Steemit</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="{% static 'market/css/sos1.css' %}" rel="stylesheet">
    <link href="{% static 'market/css/style.css' %}" rel="stylesheet">

</head>
<body>
{% block navbar %}
{% include 'market/navbar.html' %}
{% endblock %}
{% block sidebar %}
{% include 'market/sidebar.html' %}
{% endblock %}

<main id="main" class="main">
    {% block content %}
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for pro in product %}
            <div class="col">
                <div class="card h-100">
                    <div class="sosimg">
                        <a href="{{ pro.get_absolute_url }}"><img src="{{ pro.photo_preview.url }}" class="backimg" alt="..."></a>
                    </div>
                    <div class="card-body">
                        <p><h5 class="card-title"><a href="{{ pro.get_absolute_url }}">{{pro.title|truncatewords:5}}</a></h5></p>
                        <p class="card-text">{{pro.content|safe|linebreaks|truncatewords:25}}</p>
                        <p class="card-text"><h5>Catalog: {{pro.category}}</h5></p>
                        <p class="card-text"><h5>{{pro.price}} STEEM</h5></p>
                        <p><small class="action-button shadow animate green">Course duration Hours: {{pro.hour}} Minutes: {{pro.minutes}}</small></p>
                        <a href="#" class="action-button shadow animate red">Buy</a>
                        <a href="{{ pro.get_absolute_url }}" class="action-button shadow animate yellow">More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</main>
<script src="{% static 'market/js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'market/js/popper.min.js' %}"></script>
<script src="{% static 'market/js/bt.min.js' %}"></script>
</body>
</html>
