{% extends 'market/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for pro in product %}
            <div class="col">
                <div class="card h-100">
                    <div class="sosimg">
                        <img src="{{ pro.photo_preview.url }}" class="backimg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{pro.title|truncatewords:5}}</h5>
                        <p class="card-text">{{pro.content|safe|linebreaks|truncatewords:25}}</p>
                        <p class="card-text"><h5>Catalog: {{pro.category}}</h5></p>
                        <p class="card-text"><h5>{{pro.price}} STEEM</h5></p>
                        <p><small class="action-button shadow animate green">Course duration Hours: {{pro.hour}} Minutes: {{pro.minutes}}</small></p>
                        <a href="#" class="action-button shadow animate red">Buy</a>
                        <a href="#" class="action-button shadow animate yellow">More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}