{% load static %}
<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Store on Steemit</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'market/css/bootstrap.css'%} " rel="stylesheet">
    <!-- Custom styles for template -->
    <link href="{% static 'market/css/sos.css'%} " rel="stylesheet">

  </head>
  <body class="d-flex h-100 text-center text-white bg-sos">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>

    </div>
  </header>

  <main class="px-3">
    <img src="{% static 'market/images/indexlogo.png' %}" class="img" alt="...">
    <h1>Store on Steemit.</h1>
    <p class="lead">Believe in yourself, and you will achieve great things.Remember, you have the power to shape your own future, so believe in yourself and never give up on your dreams.</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Ready to learn</a>
    </p>
  </main>

  <footer class="mt-auto text-white-50">
    <p>Store on Steemit.<a href="#" class="text-white"></a> <a href="#" class="text-white">@hardphotographer</a>.</p>
  </footer>
</div>

  </body>
</html>
